html, body{
	height: 100%,
}

.rodape{
	margin-top: 5%;
}
.botao{
	margin-top: 5%;
}
.tablist{
	margin-top: 6%;
}


.conteudo{
	margin-top: 50px;
}

.botao{
	margin-top: 3%;
}

.borda{
	border: 1px #e4e4e4 solid;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0 0 6px #ccc;
	background-color: #fff;
}

.divergencia{
	margin-top: 5%;
}

.ativo{
	margin-top: 100px;
}